<%= render "shared/nav" %>

<%= form_with model: @group do |form| %>
    <div class="my-3 form-group">
    <br><br>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.label :iconUrl %>
    <%= form.text_field :icon, class: "form-control" %>
    <%= form.submit %>
    </div>


<% end %>

