<%= render "shared/nav" %>

<%= form_with model: @item, url: group_items_path(@group) do |form| %>

    <div class="my-3 form-group">
    <br><br>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.label :group_id %>
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "form-control" %>
    <%= form.label :group_id %>
        <%= form.collection_select :group_id, Group.where(user: current_user), :id, :name, class: "form-control" %>
        <br> <br>
    <%= form.submit %>
    </div>
<% end %>
   
