#nav from bootstrap for rails
# 
# Compare this snippet from app\views\layouts\application.html.erb:
# <!DOCTYPE html>
# <html>
#   <head>
#     <title>App</title>
#     <%= csrf_meta_tags %>
#     <%= csp_meta_tag %>
# 
#     <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
#     <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
#   </head>
# 
#   <body>
#     <%= render "nav/nav" %>
#     <%= yield %>
#   </body>
# </html>
# 
# Compare this snippet from app\views\nav\nav.html.erb:
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav>